body{
    background-color:black;
    background-size: cover;
    background-image: url('2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center;


}
.box{
    
    background-color: antiquewhite;
    background-size: 30px;
    text-align: center; 
    margin: auto;
    width:40%;
    padding-top: 20px;
   
    align-items: center;
    margin-top: 15%;
    border:solid 2px;
    border-radius: 5px;

}
.btn{
    background-color:rgb(5, 85, 170);
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: antiquewhite;
}